@import "tailwindcss";

@theme {
  --font-monst: var(--text-monst);
  --color-foreground: #1e1e1e;
  --color-foreground-mate: #606060;
  --color-border-mate: #dddddd;
  --color-hover: #f77429;

  /* global */

  --spacing-global: 4vw;

  /* padding token */
  --spacing-tight: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-wide: 1.5rem;
  --spacing-section: 4rem;

  /* elements */
  --spacing-nav: 10vh;

  /* size */
  --size-icons: 1.5rem;

  /* texts */
  --text-titles-label: 1.25rem;
  --text-titles-large: clamp(2.5rem, 1.48vi + 2.15rem, 4.38rem);
  --text-titles-section: 2rem;
  --text-titles-card: 1.375rem;
  --text-body-medium: 1.25rem;
  --text-body-large: clamp(1.5rem, 0.2vi + 1.45rem, 1.75rem);

  /* border */
  --radius-radius: 15px;
}
*,
html,
body {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  font-size: 1rem;
}

:is(h1, h2, h3) {
  font-family: var(--text-monst);
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}
