@import "tailwindcss";

@theme {
  --color-foreground: #1e1e1e;
  --color-foreground-mate: #606060;
  --color-hover: #f77429;

  /* global */

  --spacing-global: 4vw;

  /* padding token */
  --spacing-tight: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-wide: 1.5rem;
  --spacing-section-gap: 4rem;

  /* elements */
  --spacing-nav: 10vh;
}

*,
html,
body {
  box-sizing: border-box;
}

body {
  min-width: 375px;
}
